<div ng-include="'public/_navbar.html'"></div>

<div class="container">

	<form class="form-horizontal">
		<div class="form-group">
			<label for="cookie" class="col-sm-2 control-label">Steam Cookie</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="cookie" ng-model="settings.cookie" ng-readonly="interval">
			</div>
		</div>

		<div class="form-group">
			<label for="items" class="col-sm-2 control-label">Items urls (separated by new line)</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="items" ng-model="settings.items" ng-readonly="interval"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label for="attempts" class="col-sm-2 control-label">Max Attempts:</label>
			<div class="col-sm-2">
				<input type="number" class="form-control" id="attempts" ng-model="settings.attempts" placeholder="attempts" ng-readonly="interval">
			</div>
		</div>

		<div class="form-group">
			<label for="rate" class="col-sm-2 control-label">Refresh Rate</label>
			<div class="col-sm-2">
				<input type="text" class="form-control small-field" id="rate" ng-model="settings.rate" ng-readonly="interval">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" class="btn btn-success" ng-click='start()' ng-if="!interval">Start</button>
				<button type="submit" class="btn btn-warning" ng-click='stop()' ng-if="interval">Stop</button>
			</div>
		</div>
	</form>

	<div class="items list">
		<item ng-repeat="item in items" data="item"></item>
	</div>
</div>
